/* ***************************************************CSS RESET
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************** END OF CSS RESET ****************************************/

/******************************* LAYOUT HELPER COLOR *************************************/


nav {
  background-color: black;
}


footer{
  background-color: green;
 
}
#newsfeed {
  background-color: pink;
}

#social-media {
  background-color: yellowgreen;
}

.logo {
  background-color: olive;
}



/*****************************END OF LAYOUT HELPER COLOR ***********************************/

/************************************LAYOUT WITH GRID *************************************/
* {
  box-sizing: border-box;
}

#page {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 3fr 1fr 10fr 2fr;
}

header {
  display: grid;
  width: 100vw;
  grid-template-columns: 2fr 4fr 2fr;
}

#main {
  display: grid;
  grid-template-columns: 5fr 2fr;
  overflow: hidden;  
}

#newsfeed {
  display: grid;
  grid-template-rows: 6fr 6fr 2fr;
  overflow: hidden;
}

nav ul {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#sidemenu {
  display: grid;
  grid-template-rows: 1fr 3fr;
  overflow: hidden;
}

@media (min-width: 700px) {
  
  #main {
  display: grid;
  grid-template-columns: 4fr 1fr;
   }
  #newsfeed {
    grid-template-rows: 6fr 6fr 1fr;
  }
}

@media (min-width: 1000px) {
  
  #main {
  display: grid;
  grid-template-columns: 6fr 1fr;

  }
}

/*********************************END OF LAYOUT WITH GRID ***********************************/

nav ul {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
nav ul li {
  display: block;
  height: 17px;
  text-align: center;
}
.news {
  border-top: solid 1px black; /* ÁTÁLLÍTANI DIZÁJNOSABBRA!! */
  margin-top: 5px;
  overflow: hidden;
}

.news-first {
  border-top: none;
}

.news img {
  width: 90px;
  height: 90px;
  padding: 10px;
  float: left;
}
.more {
  float: right;
  padding: 10px 10px 10px 0;
}

.date {
  font-size: 10px;
  float: right;
  padding-right: 10px;
}

h1 {
  text-align: center;
  padding: 12px 0;
  font-weight: 700;
}
.news section p {  /****** miért nem úszik be a kép alá? */
  padding: 5px;
  height: 9vh;
  overflow: hidden;
  line-height: 20px;
  display: none;
}

#shop a img {
  width: 100px;
  height: 100px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#morenews {
  place-self: center;
}

footer {
  font-size: 10px;
}

@media (min-height: 500px) {
  .news section p {
    display: grid;
  }
}

@media (max-width: 600px) {
    .logo2, .logo1 {
    display: none;
  }
  } 
@media (min-width: 700px) {
    .news section p {
    height: 20vh;
  }
}
 